.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 95%;
    font-size: 1.25rem;
    /* 20px */
    font-family: sans-serif;
    font-weight: 700;
    text-overflow: ellipsis;
    //white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    //padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}


/* style 2 */

.inputfile-2 + label {
    color: #d3394c;
    border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #722040;
}


/* style 3 */

.inputfile-3 + label {
    color: #d3394c;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #722040;
}


/* style 4 */

.inputfile-4 + label {
    color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 5 */

.inputfile-5 + label {
    color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #722040;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 135px;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #dfc8ca;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 6 */

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #722040;
}

.spinner {
    display: inline-block;
    opacity: 0;
    max-width: 0;

    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
    cursor:progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

/* Component styles */

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3), 0 3px 3px rgba(0, 0, 0, 0.15), 0 3px 2px -2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    color: #fff;
    font-size: 1.25em;
    text-shadow: 0 -0.5px 1px rgba(0, 0, 0, 0.15);
}

.button[disabled] {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}

.button {
    padding: 1.0em 1.2em;
    margin: 0;
    position: center;
    min-width: 150px;
    display: inline-block;
}

.button.styl-material {
    -webkit-transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
    transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
    //background: #E91E63;
    //background: #bc293a;
    background: #d3394c;
}

.button.styl-material:hover,
.button.styl-material:focus {
    outline: none;
    //background: #EC407A;
    background: #a21041;
}

.ripple-obj {
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    fill: #AD1457;
}

.ripple-obj use {
    opacity: 0;
}

/* Colors */
.theme-2 .button.styl-material {
    background: #2196F3;
}

.theme-2 .button.styl-material:hover,
.theme-2 .button.styl-material:focus {
    background: #2b9bf4;
}

.theme-3 .button.styl-material {
    background: #009688;
}

.theme-3 .button.styl-material:hover,
.theme-3 .button.styl-material:focus {
    background: #26A69A;
}

.theme-3 .ripple-obj {
    fill: #00695C;
}


@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}

.flexbox {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    //overflow: auto;
}

.left {
    background: #f1e5e6;
    padding: 1.25rem 1.25rem;
    min-width: 50%;
    flex-grow: 0;
    text-align: center;
}

.left-overflow {
    background: #f1e5e6;
    //padding-right: 0.5rem;
    //padding-left: 1rem;
    max-width: 48%;
    alignment: center;
    flex-grow: 0;
    text-align: center;
    overflow: auto;
}

.right {
    background: #f1e5e6;
    padding: 1.25rem 1.25rem;
    flex-grow: 1;
    text-align: center;
}

.right-overflow {
    background: #f1e5e6;
    //padding-right: 1rem;
    //padding-left: 0.5rem;
    flex-grow: 1;
    text-align: center;
    max-width: 48%;
    alignment: center;
    overflow: auto;
}

.summary-table {
    width: 200px;
    margin: auto;
}

.summary-table-header {
    width: 100%;
    font-size: 24px;
    word-wrap: break-word;
    padding: 0 0 1em 0;
}

.report-table{
    overflow-x: auto;
    display: block;
    border: 1px solid grey;
}

.report-table th {
    background: #b3b3b3;
    padding: 10px 3px;
    border-bottom: 1px solid grey
}

.report-table tr:nth-child(even) {
    background: #d9d9d9;
    white-space: nowrap;
}

.report-bale tr:nth-child(odd) {
    //background: #FFF;
    white-space: nowrap;
}

.report-table td {
    white-space: nowrap;
    padding: 5px 10px;
}